@using MMCV_Model.Common;
@using MMCV_Common.Helper;
@{ 
    var currentUser = MMCV_Model.User.UserBO.Current.CurrentUser();
    var menu = (List<MenuBO>)CacheHelper.Get(CacheKeyHelper.Menu_CacheKey);
    var isAdmin = currentUser.RoleName != "Admin" ? "d-none" : "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" type="image/x-icon" href="~/Content/assets/img/favicon.png">

    <!-- CSS Files -->
    <link rel="stylesheet" href="../Content/assets/css/bootstrap.min.css">
    <link href="~/Scripts/libs/bootstrap-toastr/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../Content/assets/css/azzara.min.css">
    <link rel="stylesheet" href="../Content/assets/css/demo.css">
    @RenderSection("styles", required: false)

    <!-- Fonts and icons -->
    <script src="../Content/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['../Content/assets/css/fonts.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--   Core JS Files   -->
    <script src="../Content/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="../Content/assets/js/core/popper.min.js"></script>
    <script src="../Content/assets/js/core/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <script src="../Content/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../Content/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="../Content/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Moment JS -->
    <script src="../Content/assets/js/plugin/moment/moment.min.js"></script>
    <!-- Chart JS -->
    <script src="../Content/assets/js/plugin/chart.js/chart.min.js"></script>
    <!-- Sweetalert JS -->
    <script src="~/Scripts/libs/sweetalert2.min.js"></script>
    <!-- file Download JS -->
    <script src="~/Scripts/libs/jquery.fileDownload.js"></script>
    <!-- Datatables -->
    <script src="../Content/assets/js/plugin/datatables/datatables.min.js"></script>
    <!-- Bootstrap Toggle -->
    <script src="../Content/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <!-- Bootstrap toastr -->
    <script src="~/Scripts/libs/bootstrap-toastr/toastr.min.js"></script>
    <!-- Azzara JS -->
    <script src="../Content/assets/js/ready.min.js"></script>
    <!-- Common -->
    <script src="~/Scripts/ESign/common.js"></script>

    <style>
        .main-header[data-background-color=purple] {
            background: #35cd3a !important;
        }

            .main-header[data-background-color=purple] .navbar-header {
                background: #35cd3a !important;
            }

        .sidebar .nav > .nav-item a[data-toggle=collapse][aria-expanded=true]:before, .sidebar .nav > .nav-item.active:hover > a:before, .sidebar .nav > .nav-item.active > a:before {
            background: #33b837;
        }

        .sidebar .nav > .nav-item.active a i {
            color: #33b837;
        }

        .sidebar .nav > .nav-item:hover {
            color: #33b837;
        }

        .sidebar .sidebar-wrapper {
            box-shadow: 1px 1px 1px #d6d6d6;
        }

        .sidebar {
            transition: none !important;
        }

        @@media screen and (min-width: 991px) {
            .sidebar {
                transition: none !important;
            }

            .sidebar_minimize .sidebar .sidebar-wrapper {
                width: 75px;
                transition: none;
            }
        }

        .card {
            box-shadow: 0 0px 3px 0px #9d9ba9 !important;
            margin-bottom: 15px;
        }

        .text-success {
            color: #33b837 !important;
        }

        .btn-success {
            background: #33b837 !important;
        }

        .dropdown-toggle::after {
            display: none;
        }

        .dropdown-item {
            width: 95%;
            font-size: 13px;
            margin: auto;
            border: 1px dashed lightgrey;
            border-radius: 2px;
            margin-top: 2px;
        }

        .dropdown-item:hover {
            border: 1px dashed lightgrey;
            background: lightgrey;
        }

        .dataTable > thead > tr > th[class*="sort"]:before,
        .dataTable > thead > tr > th[class*="sort"]:after {
            content: "" !important;
        }

        .dataTable > thead > tr > th[class="sorting"]:before,
        .dataTable > thead > tr > th[class="sorting"]:after {
            line-height: 0px;
        }

        .modal-80 {
            width: 75%;
            margin: auto;
            margin-top: 25px;
        }

        .modal-scrollable {
            overflow-y: scroll;
            max-height: 75vh
        }

        .full-overlay {
            /*display: none;*/
            position: fixed;
            /* background: rgba(0, 0, 0, 1); */
            opacity: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            -webkit-transition: opacity .3s ease;
            -moz-transition: opacity .3s ease;
            -o-transition: opacity .3s ease;
            transition: opacity .3s ease;
        }

        #mainLoadingSVG {
            position: fixed;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            width: 40px;
            height: 40px;
            z-index: 1000000;
            background: #fff;
            padding: 3px;
            border-radius: 50%;
            display: none;
        }

        .modal-header-icon {
            margin-top: 5px;
            font-size: 20px;
            color: #33b837;
        }

        /*alert dialog*/
        #modalContainer {
            background-color: rgba(0, 0, 0, 0.3);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 10000;
        }

        #alertBox {
            position: relative;
            width: 400px;
            min-height: 100px;
            margin-top: 50px;
            background-color: #fff;
            -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
        }

        #modalContainer > #alertBox {
            position: fixed;
        }

        #alertBox h1 {
            margin: 0;
            font: 16px verdana,arial;
            background-color: #2CA01C;
            color: #FFF;
            text-shadow: none;
            padding: 10px 10px;
        }

        #alertBox p {
            font: 16px verdana,arial;
            min-height: 50px;
            padding: 5px 10px;
            padding-top: 15px;
        }

        #alertBox #closeBtnAlert {
            margin: 0 auto;
            display: block;
            width: 100px;
            margin-bottom: 15px;
        }

        #cancelBtnAlert {
            margin-right: 15px;
        }

        /*end alert*/
    </style>
</head>
<body>
    <div class="w-100 wrapper">
        <!--
                Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
        -->
        <div class="main-header" data-background-color="purple">
            <!-- Logo Header -->
            <div class="logo-header">

                <a href="/Dashboard/Dashboard" class="logo">
                    @*<img src="../Content/assets/img/icon.png" alt="navbar brand" class="navbar-brand">*@
                    <strong class="text-white">MMCV</strong>
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fa fa-bars"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-bars"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg">
                <div class="w-100 text-right mr-2">
                    <button class="btn btn-outline-primary bg-white" data-toggle="modal" data-target="#modalAddDocument"><i class="fa fa-plus"></i></button>
                </div>
                @*<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                    <li class="nav-item dropdown hidden-caret">
                        <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="notification">3</span>
                        </a>
                        <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                            <li>
                                <div class="dropdown-title">You have 3 new notification</div>
                            </li>
                            <li>
                                <div class="notif-center">
                                    <a href="#">
                                        <div class="notif-icon notif-primary"> <i class="fa fa-user-plus"></i> </div>
                                        <div class="notif-content">
                                            <span class="block">
                                                New user registered
                                            </span>
                                            <span class="time">5 minutes ago</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="notif-icon notif-success"> <i class="fa fa-comment"></i> </div>
                                        <div class="notif-content">
                                            <span class="block">
                                                Rahmad commented on Admin
                                            </span>
                                            <span class="time">12 minutes ago</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="notif-icon notif-danger"> <i class="fa fa-heart"></i> </div>
                                        <div class="notif-content">
                                            <span class="block">
                                                Farrah liked Admin
                                            </span>
                                            <span class="time">17 minutes ago</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="see-all" href="javascript:void(0);">See all notifications<i class="fa fa-angle-right"></i> </a>
                            </li>
                        </ul>
                    </li>
                </ul>*@

                <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                    <li class="">
                        <div class="btn-group btn-group-page-header ml-auto">
                            @*<a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i>
                            </a>*@
                            <button class="btn btn-light btn-round dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-cog"></i>
                            </button>
                            <div class="dropdown-menu">
                                <div class="arrow"></div>
                                <a class="dropdown-item" href="/User/Login"><i class="fa fa-user-check"></i>&nbsp; Login</a>
                                <a class="dropdown-item" href="/User/Logout"><i class="fa fa-sign-out-alt"></i>&nbsp; Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <div class="sidebar">

            <div class="sidebar-background"></div>
            <div class="sidebar-wrapper scrollbar-inner">
                <div class="sidebar-content">
                    <div class="user">
                        <div class="avatar-sm float-left mr-2">
                            <img src="~/Content/assets/img/favicon.png" alt="" class="avatar-img rounded-circle">
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                                <span>
                                    @currentUser.Fullname
                                    <span class="user-level">@currentUser.DepartmentName</span>
                                    @*<span class="caret"></span>*@
                                </span>
                            </a>
                            <div class="clearfix"></div>

                            @*<div class="collapse in" id="collapseExample">
                                <ul class="nav">
                                    <li>
                                        <a href="#settings">
                                            <span class="link-collapse">Settings</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>*@
                        </div>
                    </div>
                    <ul class="menu nav">

                        <li class="nav-item">
                            <a href="/Dashboard/Dashboard">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/DocumentManagement/DocumentManagement">
                                <i class="fas fa-file-pdf"></i>
                                <p>Document Management</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/User/UserInfo">
                                <i class="fas fa-user"></i>
                                <p>Account Information</p>
                            </a>
                        </li>
                        <li class="nav-item @isAdmin">
                            <a href="/User/UserManagement">
                                <i class="fas fa-users"></i>
                                <p>User Management</p>
                            </a>
                        </li>
                        @*<li class="nav-item">
                            <a href="/Template/TemplateManagement">
                                <i class="fas fa-list-alt"></i>
                                <p>Template Management</p>
                            </a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="content">
                @RenderBody()

                <!-- Loading -->
                <div class="full-overlay"></div>
                <img id="mainLoadingSVG" src="~/Content/assets/img/oval.svg" />
            </div>
        </div>

    </div>

    <!-- Active menu -->
    <script>

        $(document).ready(function () {
            elapseMenu();
            checkSession();
            setInterval(checkSession, 40 * 1000);
        })

        function elapseMenu() {
            // Get current page URL
            var url = window.location.href;
            // remove # from URL
            url = url.substring(0, (url.indexOf("#") == -1) ? url.length : url.indexOf("#"));
            // remove parameters from URL
            url = url.substring(0, (url.indexOf("?") == -1) ? url.length : url.indexOf("?"));
            // select file name
            url = url.substr(url.lastIndexOf("/") + 1);
            // If file name not avilable
            if (url == '') {
                url = '/Dashboard/Dashboard';
            }
            // Loop all menu items
            $('.menu li').each(function () {
                // select href
                var href = $(this).find('a').attr('href');
                // Check filename
                if (url == href.substr(href.lastIndexOf("/") + 1)) {
                    // Select parent class if submenu
                    var parentClass = $(this).parent('ul').attr('class');
                    // Select parent of parent class if submenu has submenu
                    if ($(this).parent('ul').parent().parent().attr('class') == 'submenu') {
                        $(this).parent().parent().parent().css("display", "block");
                    }
                    if (parentClass == 'submenu') {
                        $(this).parent('ul').css("display", "block");
                        $(this).find('a').addClass('subactive');
                        $(this).parents('.menu li').addClass('active');
                    } else {
                        $(this).addClass('active');
                    }
                }
            });
        }

        function checkSession() {
            let action = '/Base/CheckSession';
            var datasend = {
                
            };

            PostDataAjax(action, datasend, function (response) {
                if (response.rs) {
                     
                }
                else {
                     
                }
            });
        }

        //Customize alert
        var ALERT_TITLE = 'NOTIFICATION';
        var ALERT_BUTTON_TEXT = 'Yes';
        var CONFIRM_OK_BUTTON_TEXT = 'OK';
        var CONFIRM_CC_BUTTON_TEXT = 'Cancel';
        var removeCustomAlert = function () {
            document.getElementsByTagName('body')[0].removeChild(document.getElementById('modalContainer'));
        }
        if (document.getElementById) {
            window.alert = function (txt) {
                createCustomAlert(txt, null);
            }
            window.confirm = function (txt, title, button1, button2, callback) {
                createCustomAlert(txt, title, button1, button2, callback);
            }
        }

        function createCustomAlert(txt, title, button1, button2, callback) {
            if (!title)
                title = ALERT_TITLE;
            if (!button1)
                button1 = CONFIRM_CC_BUTTON_TEXT;
            if (!button2)
                button2 = CONFIRM_OK_BUTTON_TEXT;
            var d = document;

            if (d.getElementById('modalContainer')) return;

            var mObj = d.getElementsByTagName('body')[0].appendChild(d.createElement('div'));
            mObj.id = 'modalContainer';
            mObj.style.height = d.documentElement.scrollHeight + 'px';

            var alertObj = mObj.appendChild(d.createElement('div'));
            alertObj.id = 'alertBox';
            if (d.all && !window.opera) alertObj.style.top = document.documentElement.scrollTop + 'px';
            //alertObj.style.left = (d.documentElement.scrollWidth - alertObj.offsetWidth) / 2 + 'px';
            alertObj.style.left = 'calc(45% - 100px)';
            alertObj.style.visiblity = 'visible';

            var h1 = alertObj.appendChild(d.createElement('h1'));
            h1.appendChild(d.createTextNode(title));

            var msg = alertObj.appendChild(d.createElement('p'));
            //msg.appendChild(d.createTextNode(txt));
            var find = '\n';
            var re = new RegExp(find, 'g');

            //txt = txt.replace(/(?:\\n)/g, '<br>');

            msg.innerHTML = txt;



            if (callback) {
                var div = alertObj.appendChild(d.createElement('div'));
                div.className = 'btnGroup';

                var btn2 = div.appendChild(d.createElement('button'));
                btn2.id = 'cancelBtnAlert';
                btn2.className = 'btn btn-light';
                btn2.appendChild(d.createTextNode(button1));
                btn2.href = '#';
                btn2.onclick = function () { removeCustomAlert(); callback(false); return false; }

                var btn = div.appendChild(d.createElement('button'));
                //btn.id = 'closeBtnAlert';
                btn.className = 'btn btn-success';
                btn.appendChild(d.createTextNode(button2));
                btn.href = '#';
                btn.onclick = function () { removeCustomAlert(); callback(true); return false; }
            } else {
                var btn = alertObj.appendChild(d.createElement('button'));
                btn.id = 'closeBtnAlert';
                btn.className = 'btn btn-success';
                btn.appendChild(d.createTextNode(ALERT_BUTTON_TEXT));
                btn.href = '#';
                btn.onclick = function () { removeCustomAlert(); return false; }
            }

            alertObj.style.display = 'block';
        }

    </script>

    <script>

        $(document).on('mousemove', function (e) {
            var xMouse = e.pageX;
            var yMouse = e.pageY;
            if (Math.random() < 0.1) {
                setTimeout(function () {
                    var l = document.createElement("DIV");
                    var size = (Math.floor(Math.random() * (30 - 10)) + 10);
                    l.style.width = size + "px";
                    l.style.height = size + "px";
                    l.style.backgroundImage = "url(https://phimbom.net/images/hoaroi.png)";
                    var bg_pos = (Math.floor(Math.random() * 4));
                    l.style.backgroundPosition = "0px -" + (size * bg_pos) + "px";
                    l.style.backgroundSize = size + "px " + 4 * size + "px"
                    l.style.position = "absolute";
                    l.style.left = (xMouse) + "px";
                    l.style.top = (yMouse + 10) + "px";
                    l.style.zIndex = 9999;
                    l.style.display = 'none';
                    document.body.appendChild(l);
                    jQuery(l).fadeIn(100);
                    var stop = false;
                    var hoaroi = function () {
                        if (!stop) {
                            setTimeout(function () {
                                window.requestAnimationFrame(hoaroi);
                            }, 20);
                            l.style.top = (parseInt(jQuery(l).css('top'), 10) + 1) + "px";
                            if ((parseInt(jQuery(l).css('top'), 10)) % 10 == 0) {
                                if (Math.random() < 0.5) {
                                    l.style.left = (parseInt(jQuery(l).css('left'), 10) + 1) + "px";
                                } else {
                                    l.style.left = (parseInt(jQuery(l).css('left'), 10) - 1) + "px";
                                }
                            }
                        }
                    }
                    window.requestAnimationFrame(hoaroi);
                    jQuery(l).fadeOut((Math.floor(Math.random() * (2500 - 1000)) + 1000), function () {
                        jQuery(l).remove();
                        stop = true;
                    });
                }, 0);
            }
        });

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
